@import "./../../../styles/utils/mixins";

:host {
    @include page-content();

    .examples-projects-panel {
        display: flex;
        gap: 10px;
    }

    .section {
        padding-bottom: 30px;
    }
}