<div class="section" *ngIf="currentProject$ | async as currentProject">
    <h3>Kontynuuj pracę nad projektem</h3>
    <p>Weź się chłopie do pracy</p>
    <app-project-config *ngFor="let project of [currentProject]" [project]="project"></app-project-config>
</div>

<div class="section">
    <h3>Stwórz projekt, nie ma na co czekać!</h3>
    <p>Zacznij przygodę z Irrtirer wybierając przykładowy projekt, lub stwórz nowy, a jeśli jesteś tu kolejny raz wczytaj wcześniej przygotowany projekt.</p>
    <app-new-project (projectSelected)="createNewProject($event)"></app-new-project>
</div>
<div class="section">
    <h3>Zapoznaj się z narzędziem</h3>
    <p>Jeśli chcesz po prostu sprawdzić jak dział Irrtirer wczytaj jeden z przykładowych projektów</p>
    <div class="examples-projects-panel">
        <app-example-project *ngFor="let exampleProject of exampleProjects" [project]="exampleProject"></app-example-project>
    </div>
</div>