<mat-sidenav-container class="tool-sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                matTooltipPosition="right" matTooltip="Ustawienia projektu">
                <mat-icon matListIcon class="material-symbols-outlined">flowsheet</mat-icon>
            </a>
            <a mat-list-item routerLink="tray" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [disabled]="tilesLinkDisabled$ | async"
                matTooltipPosition="right" matTooltip="Zasobnik kafelków">
                <mat-icon matListIcon class="material-symbols-outlined">dashboard</mat-icon>
            </a>
            <a mat-list-item routerLink="sectors" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [disabled]="sectorsLinkDisabled$ | async"
                matTooltipPosition="right" matTooltip="Wyznaczenie sektorów">
                <mat-icon matListIcon class="material-symbols-outlined">view_in_ar</mat-icon>
            </a>
            <a mat-list-item routerLink="generating" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [disabled]="mosaicGeneratingLinkDisabled$ | async"
                matTooltipPosition="right" matTooltip="Układanie moizaiki">
                <mat-icon matListIcon class="material-symbols-outlined">rocket_launch</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>