.tool-sidenav-container {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;

    mat-sidenav {
        border-right: none;
    }
}

.mdc-list {
    padding-top: 12px;
    .mat-mdc-list-item {
        height: 52px !important;
        ::ng-deep {
            .mat-mdc-list-item-unscoped-content {
                display: flex;
                mat-icon {
                    height: 30px;
                    width: 30px;
                    font-size: 30px;
                }
            }
        }
    }
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;

    .content {
        max-width: 1200px;
        min-width: 600px;
        width: -webkit-fill-available;
        margin: 0px auto;
        padding: 20px 60px;
    }
}

a.active {
    background-color: rgba(255, 255, 255, 0.1);
    mat-icon {
        color: #00dddd;
    }
}
