<h2 mat-dialog-title>{{ 'tool.config.menu.chooseFileName' | translate }}</h2>

<div class="form">
    <mat-form-field class="density-3" subscriptSizing="dynamic">
        <input matInput [formField]="form.name">
        <mat-error>{{ 'tool.config.menu.enterValidName' | translate }}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ 'common.cancel' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="form.name().value()" [disabled]="!form().valid()">
        {{ 'common.save' | translate }}
    </button>
</div>