@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 10px;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;

        button {
            flex: 1 1 0;
        }
    }

    .sector-property-form {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -10px;
        padding-right: 10px;
        height: -webkit-fill-available;

        .form-group {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            width: 100%;
        }
    }
}