<div class="actions">
    <button mat-flat-button (click)="cancel()">
        {{ 'common.cancel' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="save()">
        {{ 'common.confirm' | translate }}
    </button>
</div>

<div class="sector-property-form">
    <app-extended-panel [label]="translate.instant('tool.sectors.sectorProperty.sectorsSize')">
        <div class="form-group">
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.maxAreaHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.maxArea' | translate }}</mat-label>
                <input matInput [formField]="form.sectionMaxArea" type="number">
                <mat-error>{{ getFieldErrorLabel(form.sectionMaxArea()) }}</mat-error>
            </mat-form-field>
            <mat-form-field
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.minAngleHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.minAngle' | translate }}</mat-label>
                <input matInput [formField]="form.sectionMinAngle" type="number">
                <mat-error>{{ getFieldErrorLabel(form.sectionMinAngle()) }}</mat-error>
            </mat-form-field>
        </div>
    </app-extended-panel>

    <app-extended-panel [label]="translate.instant('tool.sectors.sectorProperty.tilesLimitations')">
        <div class="form-group">
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.minRadiusHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.minRadius' | translate }}</mat-label>
                <input matInput [formField]="form.minTileRadius" type="number">
                <mat-error>{{ getFieldErrorLabel(form.minTileRadius()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.maxRadiusHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.maxRadius' | translate }}</mat-label>
                <input matInput [formField]="form.maxTileRadius" type="number">
                <mat-error>{{ getFieldErrorLabel(form.maxTileRadius()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.minMarginHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.minMargin' | translate }}</mat-label>
                <input matInput [formField]="form.tilesMargin" type="number">
                <mat-error>{{ getFieldErrorLabel(form.tilesMargin()) }}</mat-error>
            </mat-form-field>
        </div>
    </app-extended-panel>

    <app-extended-panel [label]="translate.instant('tool.sectors.sectorProperty.populationParams')" [shouldBeOpen]="false">
        <div class="form-group">
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.initialPopulationSizeHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.initialPopulationSize' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.initialPopulationSize" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.initialPopulationSize()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.populationSizeHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.populationSize' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.populationSize" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.populationSize()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.iterationsCountHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.iterationsCount' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.iterationsCount" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.iterationsCount()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.countOfTrianglePositionDrawsHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.countOfTrianglePositionDraws' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.countOfTrianglePositionDraws" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.countOfTrianglePositionDraws()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.countOfTriesToInsertTileHint')" 
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.countOfTriesToInsertTile' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.countOfTriesToInsertTile" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.countOfTriesToInsertTile()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.countOfColorMatchingAttemptsHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.countOfColorMatchingAttempts' | translate }}</mat-label>
                <input matInput [formField]="form.populationParams.countOfColorMatchingAttempts" type="number">
                <mat-error>{{ getFieldErrorLabel(form.populationParams.countOfColorMatchingAttempts()) }}</mat-error>
            </mat-form-field>
        </div>
    </app-extended-panel>

    <app-extended-panel [label]="translate.instant('tool.sectors.sectorProperty.evaluationParams')" [shouldBeOpen]="false">
        <div class="form-group">
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.singleSectionPopulationHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.singleSectionPopulation' | translate }}</mat-label>
                <input matInput [formField]="form.evaluationParams.singleSectionPopulation" type="number">
                <mat-error>{{ getFieldErrorLabel(form.evaluationParams.singleSectionPopulation()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.overlappingAreaOutsideSectorHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.overlappingAreaOutsideSector' | translate }}</mat-label>
                <input matInput [formField]="form.evaluationParams.overlappingAreaOutsideSector" type="number">
                <mat-error>{{ getFieldErrorLabel(form.evaluationParams.overlappingAreaOutsideSector()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.overlappingAreaOutsideSectorHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.additionalPopulationOfNeighboringSectors' | translate }}</mat-label>
                <input matInput [formField]="form.evaluationParams.additionalPopulationOfNeighboringSectors" type="number">
                <mat-error>{{ getFieldErrorLabel(form.evaluationParams.additionalPopulationOfNeighboringSectors()) }}</mat-error>
            </mat-form-field>
            <mat-form-field 
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.overlappingNotPopulatedSectionsHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.overlappingNotPopulatedSections' | translate }}</mat-label>
                <input matInput [formField]="form.evaluationParams.overlappingNotPopulatedSections" type="number">
                <mat-error>{{ getFieldErrorLabel(form.evaluationParams.overlappingNotPopulatedSections()) }}</mat-error>
            </mat-form-field>
            <mat-form-field
                class="density-3"
                [matTooltip]="translate.instant('tool.sectors.sectorProperty.tileColorMismatchHint')"
                matTooltipPosition="left">
                <mat-label>{{ 'tool.sectors.sectorProperty.tileColorMismatch' | translate }}</mat-label>
                <input matInput [formField]="form.evaluationParams.tileColorMismatch" type="number">
                <mat-error>{{ getFieldErrorLabel(form.evaluationParams.tileColorMismatch()) }}</mat-error>
            </mat-form-field>
        </div>
    </app-extended-panel>
</div>