<div class="flex flex-col gap-2.5">
    <button mat-flat-button color="accent" disabled>
        {{ 'tool.tiles.menu.loadFromFile' | translate }}
    </button>
    <button mat-flat-button color="accent" disabled>
        {{ 'tool.tiles.menu.createTile' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="navigateToRandomTiles()">
        {{ 'tool.tiles.menu.randomTiles' | translate }}
    </button>
</div>

<div class="flex flex-col gap-1.5 flex-1">
    @for(tilesSet of tilesSets(); track $index) {
        <app-tiles-set-list-elem [tilesSet]="tilesSet"/>
    } @empty {
        <span class="m-auto text-contrast-light">
            {{ 'tool.tiles.menu.noTiles' | translate }}
        </span>
    }
</div>