:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tiles-sets {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1 1 0;

        .no-sets {
            color: var(--irr-contrast-light);
            margin: auto;
        }
    }
}
