@use './../../../../styles/utils/mixins.scss' as *;

:host {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        button {
            flex: 1 1 0;
        }
    }

    .details {
        .id {
            font-size: 12px;
            @include text-ellipsis();
        }
    }
}