<div class="actions">
    <button mat-flat-button (click)="navigateToMenu()">
        {{ 'common.return' | translate }}
    </button>
    <button mat-flat-button color="accent" disabled>
        {{ 'common.edit' | translate }}
    </button>
</div>

<div class="details">
    @let tile = tileSignal();
    @if(tile) {
        <div class="id">
            <div class="label">{{ 'tool.tiles.details.tileId' | translate }}:</div>
            <div class="value">{{tile.id}}</div>
        </div>

        <app-color-picker 
            disabled="true"
            [ngModel]="tile.color"
            [label]="translate.instant('tool.tiles.details.tileColor')"/>
    } @else { 
        <div class="no-exist">{{ 'tool.tiles.details.tileNoExist' | translate }}</div>
    }
</div>
