@use '@angular/material' as mat;
@use './../../../../styles/utils/mixins.scss' as *;
@use './../../../../theme/gray-palette.scss' as *;

:host {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        button {
            flex: 1 1 0;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        .id {
            padding: 2px;
            color: mat.m2-get-color-from-palette($grey-palette, 100);

            .label {
                font-weight: 500;
            }

            .value {
                font-size: 12px;
                @include text-ellipsis();
            }
        }

        .no-exist {
            color: mat.m2-get-color-from-palette($grey-palette, 200);
            margin: auto;
        }
    }
}