@use "./../../../../styles/utils/list-item-box.scss" as *;

:host {
    display: flex;
    flex-direction: column;

    .sectors {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
