@use "./../../../../styles/utils/list-item-box.scss" as *;

:host {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .label {
        margin-bottom: 15px;
    }

    .sectors {
        display: flex;
        flex-direction: column;
        gap: 6px;
        overflow: auto;
        flex: 1 1 auto;
    }
}
