@use "sass:map";
@use "@angular/material" as mat;
@use "./components/toolbar-theme" as toolbar;
@use "./components/button-theme" as button;
@use "./components/input-theme" as input;
@use "./components/menu-theme" as menu;
@use "./components/tooltip-theme" as tooltip;
@use "./components/icon-theme" as icon;
@use "./components/dialog-theme" as dialog;
@use "./components/autocomplete-theme" as autocomplete;
@use "./components/sidenav-theme" as sidenav;
@use "./palettes/primary-palette" as *;
@use "./variables" as variables;

@mixin _custom-theme($theme) {
    @include mat.all-component-themes($theme);

    @include toolbar.theme();
    @include button.theme();
    @include input.theme();
    @include menu.theme();
    @include tooltip.theme();
    @include icon.theme();
    @include dialog.theme();
    @include autocomplete.theme();
    @include sidenav.theme();
}

@mixin material-dark-theme() {
    $irr-dark-theme: mat.m2-define-dark-theme((
        color: (
            primary: mat.m2-define-palette($cyan-palette, A200),
            accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400),
            warn:  mat.m2-define-palette(mat.$m2-red-palette),
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
    ));
    @include _custom-theme($irr-dark-theme);
}

@mixin material-light-theme() {
    $irr-light-theme: mat.m2-define-light-theme((
        color: (
            primary: mat.m2-define-palette($cyan-palette, 700),
            accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400),
            warn:  mat.m2-define-palette(mat.$m2-red-palette),
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
    ));
    @include _custom-theme($irr-light-theme);
}

.dark-theme {
    color-scheme: dark;
    @include material-dark-theme();
}

.light-theme {
    color-scheme: light;
    @include material-light-theme();
}

:root {
    @include variables.variables();
    @include button.variables();
}
