$gray-0: #ffffff;
$gray-10: #e6e6e6;
$gray-20: #cccccc;
$gray-30: #b3b3b3;
$gray-46: #898989;
$gray-60: #666666;
$gray-75: #3f3f3f;
$gray-80: #333333;
$gray-84: #292929;
$gray-87: #212121;
$gray-92: #141414;
$gray-100: #000000;
