@use 'sass:map';
@use '@angular/material' as mat;
@use './components/toolbar-theme' as toolbar;
@use './components/button-theme' as button;
@use './components/tabs-theme' as tabs;
@use './components/input-theme' as input;
@use './components/menu-theme' as menu;
@use './components/tooltip-theme' as tooltip;
@use './components/icon-theme' as icon;
@use './components/dialog-theme' as dialog;
@use './components/autocomplete-theme' as autocomplete;
@use './primary-palette.scss' as *;
@use './variables.scss' as variables;

@include mat.elevation-classes();
@include mat.app-background();

$irrtirer-primary: mat.m2-define-palette($cyan-palette, A200);
$irrtirer-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$irrtirer-warn: mat.m2-define-palette(mat.$m2-red-palette);

$irrtirer-theme: mat.m2-define-dark-theme((
  color: (
    primary: $irrtirer-primary,
    accent: $irrtirer-accent,
    warn: $irrtirer-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));


$backgroundColor: #191c1c;
$color: map.get($irrtirer-theme, 'color');
$colorBackground: map.get($color, "background");
$colorBackground: map.set($colorBackground, "background", $backgroundColor);
$color: map.set($color, "background", $colorBackground);
$irrtirer-theme: map.set($irrtirer-theme, "color", $color);


@include mat.all-component-themes($irrtirer-theme);
@include toolbar.theme($irrtirer-theme);
@include button.theme($irrtirer-theme);
@include tabs.theme($irrtirer-theme);
@include input.theme($irrtirer-theme);
@include menu.theme($irrtirer-theme);
@include tooltip.theme($irrtirer-theme);
@include icon.theme($irrtirer-theme);
@include variables.theme($irrtirer-theme);
@include dialog.theme($irrtirer-theme);
@include autocomplete.theme($irrtirer-theme);