@use './gray-palette.scss' as *;

@mixin theme() {
    --irr-accent-color: light-dark(#ffab40, #ffd740);
    --irr-primary-color: light-dark(#0288d1, #00dddd);
    
    --irr-background-color: light-dark(#{$gray-10}, #1e2023);
    --irr-sidenav-color: light-dark(#{$gray-20}, #{$gray-75});
    --irr-grid-color: light-dark(#{$gray-30}, #{$gray-80});

    --irr-panel-background-color: light-dark(#e5e5e5, #{$gray-80});
    --irr-panel-text-color: light-dark(#{$gray-87}, #{$gray-0});
    --irr-panel-contrast-background-color: light-dark(#{$gray-80}, #e5e5e5);
    --irr-panel-contrast-text-color: light-dark(#{$gray-0}, #{$gray-87});

    --irr-toolbar-background-color: light-dark(#{$gray-0}, #{$gray-80});
    --irr-toolbar-color: light-dark(#{$gray-87}, #00dddd);
}
