@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    button, a {
        &.mdc-button {
            letter-spacing: normal;
            border-radius: 20px;
            padding: 0 12px !important;
        }
    }
}