@use 'sass:math';

@mixin theme() {
    button, a {
        &.mdc-button {
            letter-spacing: normal;
            --mat-button-filled-container-shape: 20px;
            --mat-button-text-container-shape: 20px;
            padding: 0 12px !important;

            .mat-mdc-button-touch-target {
                height: var(--mat-button-text-container-height);
            }
        }
    }
}

@mixin icon-button-icon($icon-size: 24px) {
    .mat-icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
    }
}

@mixin icon-button($button-size: 48px, $icon-size: 24px) {
    @include icon-button-icon($icon-size);
    --mat-icon-button-state-layer-size: #{$button-size};
    padding: math.div($button-size - $icon-size, 2);

    .mat-mdc-button-touch-target {
        width: var(--mat-icon-button-state-layer-size);
        height: var(--mat-icon-button-state-layer-size);
    }
}