@mixin theme() {
    mat-dialog-container {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
        --mat-dialog-container-color: var(--irr-panel-background-color);

        .mat-mdc-dialog-title {
            --mat-dialog-subhead-size: 26px;

            &::before {
                height: 50px;
            }
        }

        .mat-mdc-dialog-content {
            --mat-dialog-supporting-text-size: 14px;
        }
    }
}