@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme() {
    .density-3{
        @include mat.form-field-density(-3);
    }

    .mat-form-field-disabled {
        .mat-mdc-form-field-text-suffix {
            color: var(--mat-form-field-outlined-disabled-input-text-color);
        }
    }
}