@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    .mat-mdc-tab-label-container {
        border-bottom-width: 1px !important;
        border-bottom-color: #3f4948 !important;

        .mdc-tab {
            letter-spacing: normal;
            height: 40px !important;

            mat-icon {
                font-size: 18px;
                height: 18px;
                padding-right: 6px;
            }
        }
    }
}