@use 'sass:map';
@use '@angular/material' as mat;
@use './../../theme/gray-palette.scss' as palette;

@mixin theme($theme) {
    mat-tooltip-component {
        .mat-mdc-tooltip {
            &.hint {
                --mat-tooltip-container-color: #{mat.m2-get-color-from-palette(palette.$grey-palette, 500)};
                --mat-tooltip-supporting-text-color: #{mat.m2-get-color-from-palette(palette.$grey-palette, 50)};
            }

            &.label {
                --mat-tooltip-container-color: #{mat.m2-get-color-from-palette(palette.$grey-palette, 100)};
                --mat-tooltip-supporting-text-color: #{mat.m2-get-color-from-palette(palette.$grey-palette, 700)};
            }

            .mat-mdc-tooltip-surface {
                padding: 10px;
                text-align: center;
                box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
}