@mixin theme() {
    mat-tooltip-component {
        .mat-mdc-tooltip {
            &:not(.contrast) {
                --mat-tooltip-container-color: var(--color-surface-panel);
                --mat-tooltip-supporting-text-color: var(--color-contrast-highest);
            }

            &.contrast {
                --mat-tooltip-container-color: var(--color-surface-panel-contrast);
                --mat-tooltip-supporting-text-color: var(--color-contrast-max);
            }

            .mat-mdc-tooltip-surface {
                padding: 10px;
                text-align: center;
                box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
}