@mixin theme() {
    mat-toolbar {
        &.mat-toolbar {
            background: var(--irr-toolbar-background-color);
        }

        .toolbar-item {
            * {
                color: var(--irr-toolbar-color);
            }

            .mat-icon {
                width: 22px;
                height: 22px;

                &.material-icons {
                    font-size: 22px;
                }

                &:not(.material-icons) {
                    display: flex;
                }
            }

            span {
                letter-spacing: normal;
                font-size: 14px;
            }
        }
    }
}
