@mixin theme() {
    mat-tooltip-component {
        .mat-mdc-tooltip {
            &:not(.contrast) {
                --mat-tooltip-container-color: var(--irr-panel-background-color);
                --mat-tooltip-supporting-text-color: var(--irr-panel-text-color);
            }

            &.contrast {
                --mat-tooltip-container-color: var(--irr-panel-contrast-background-color);
                --mat-tooltip-supporting-text-color: var(--irr-panel-contrast-text-color);
            }

            .mat-mdc-tooltip-surface {
                padding: 10px;
                text-align: center;
                box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
}