@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    mat-toolbar {
        &.mat-toolbar {
            background: #333333;
        }
        
        .toolbar-item {
            * {
                color: mat.get-theme-color($theme, primary, A200);
            }
            
            .mat-icon {
                width: 22px;
                height: 22px;

                &.material-icons {
                    font-size: 22px;
                }            
            }

            span {
                letter-spacing: normal;
                font-size: 14px;
            }
        }
    }
}