<div class="sv-preview">
    <app-color-canvas [hValue]="hValue" [sValue]="sValue" [vValue]="vValue" (colorChange)="onColorCanvasChanged($event)" />
</div>

<div class="slider-container">
    <app-color-slider [(value)]="hValue" (valueChange)="onHueChanged()"/>
</div>

<div class="result-wrapper">
    <div role="presentation" class="color-preview" [ngStyle]="{'background': hexColor}"></div>

    <mat-form-field appearance="outline" class="density-3 code-input">
        <mat-label>Hex</mat-label>
        <input matInput [ngModel]="hexColor" (change)="onHexCodeChange($event)">
    </mat-form-field>
</div>