:host {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .page-button {
        --mat-button-filled-container-height: 28px;
        --mat-button-filled-container-shape: 4px;
    }
}

