@use "./../../../../styles/utils/list-item-box.scss" as *;

:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    .actions {
        display: flex;
        flex-direction: column;
    }

    .no-sectors {
        color: var(--irr-contrast-light);
        margin: auto;
    }
}

.sectors-list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .sector-box {
        @include list-item-box();
        cursor: move;

        .sector-actions {
            --irr-icon-button-size: 32px;
            margin: -6px;
            color: var(--irr-contrast-medium);
        }

        &.cdk-drag-placeholder {
            opacity: 0;
        }
    }

    &.cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag-preview {
    @include list-item-box();
    cursor: grab;

    .sector-actions {
        display: none;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
