@use "@angular/material" as mat;
@use "./../../../../theme/gray-palette.scss" as palette;
@use "./../../../../styles/utils/list-item-box.scss" as *;

:host {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    .add-sector {
        width: 100%;
        margin-bottom: 20px;
    }

    .no-sectors {
        display: flex;
        justify-content: center;
        color: mat.m2-get-color-from-palette(palette.$grey-palette, 300);
        height: -webkit-fill-available;
        align-items: center;
    }
}

.sectors-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: auto;
    max-width: 100%;
    height: -webkit-fill-available;

    .sector-box {
        @include list-item-box();
        cursor: move;

        .sector-actions {
            margin: -6px;
            width: 32px;
            height: 32px;
            padding: 4px;
            color: mat.m2-get-color-from-palette(palette.$grey-palette, 200);
        }

        &.cdk-drag-placeholder {
            opacity: 0;
        }
    }

    &.cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag-preview {
    @include list-item-box();
    cursor: grab;

    .sector-actions {
        display: none;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
