.conf-panel {
    padding: 20px;
    background-color: #424242;
    display: flex;
    gap: 20px;

    .image-display {
        max-height: 200px;
        img {
            max-height: inherit;
            height: auto;
            width: auto;
        }
    }

    .data-display {
        display: flex;
        flex-direction: column;

        .actions {
            margin-top: auto;
        }
    }
}