:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: sticky;
    box-shadow: 0px 0px 10px 2px #000000a8;
    padding: 0 20px;
    gap: 6px;

    .size-display {
        color: var(--color-contrast-medium);
        text-align: right;
        margin-left: auto;
    }

    .action {
        --irr-icon-button-size: 32px;
        color: var(--color-contrast-medium);

        &.active {
            color: var(--color-contrast-highest);
        }
    }
}