@use './../../../theme/components/button-theme' as *;
@use './../../../theme/gray-palette.scss' as *;

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: sticky;
    box-shadow: 0px -1px 10px 2px rgb(17 17 17);
    padding: 0 20px;
    gap: 6px;

    .size-display {
        color: #{$gray-46};
        text-align: right;
        margin-left: auto;
    }

    .action {
        ::ng-deep {
            @include icon-button(32px, 24px);
        }

        color: #{$gray-46};

        &.active {
            color: #{$gray-10};
        }
    }
}