:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 0;
    transition: height var(--expand-duration, 300ms) ease-out;

    &.open {
        height: var(--panel-height, 1000px);
    }
}