@let tilesSetValue = tilesSet();
<div class="list-elem">
    <span>{{ tilesSetValue.name }}</span>
    <div class="elem-actions">
        <button class="elem-action" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon matListIcon>
                more_vert
            </mat-icon>
        </button>
        <button class="elem-action toggle-action" mat-icon-button (click)="toggleTilesList()">
            <mat-icon class="chevron" [class.chevron--closed]="!isOpen()">
                keyboard_arrow_up
            </mat-icon>
        </button>

        <mat-menu #menu="matMenu" classList="paddingless">
            @if (tilesSetValue.source === 'generated') {
                <button mat-menu-item (click)="navigateToRandomSetAgain()">
                    <mat-icon class="material-symbols-outlined" matListIcon>
                        shuffle
                    </mat-icon>
                    {{ 'tool.tiles.menu.generateAgain' | translate }}
                </button>
            }
            <button mat-menu-item (click)="removeTilesSet()">
                <mat-icon class="material-symbols-outlined" matListIcon>
                    delete
                </mat-icon>
                {{ 'tool.tiles.menu.removeTilesSet' | translate }}
            </button>
        </mat-menu>
    </div>
</div>
<app-expandable-panel class="panel" [isOpen]="isOpen()">
    @for(tile of tilesSetValue.tiles.slice(0,100); track $index) {
    <app-tile-list-elem [tile]="tile"/>
    }
</app-expandable-panel>