@use "./../../../../styles/utils/list-item-box.scss" as *;
@use './../../../../theme/gray-palette.scss' as *;

:host {
    .list-elem {
        @include list-item-box();

        .elem-actions {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .elem-action {
                --irr-icon-button-size: 32px;
                color: var(--irr-contrast-medium);
                margin: -6px;
            }
    
            .toggle-action {
                color: var(--irr-contrast-medium);

                .chevron {
                    transition: all 0.25s ease;
        
                    &--closed {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .panel {
        > :first-child {
            margin-top: 6px;
        }

        .empty {
            align-self: center;
            color: #{$gray-60};
        }
    }
}