:host {
    .list-elem {
        .elem-actions {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .elem-action {
                --irr-icon-button-size: 32px;
                color: var(--color-contrast-medium);
                margin: -6px;
            }
    
            .toggle-action {
                color: var(--color-contrast-medium);
            }
        }
    }

    .panel {
        > :first-child {
            margin-top: 6px;
        }
    }
}