@let isMosaicSet = !!mosaicConfig();

@if(isMosaicSet) {
    <button mat-flat-button (click)="navigateToProjectConfiguration()">
        {{ 'tool.config.menu.projectSettings' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="saveProject()">
        {{ 'tool.config.menu.saveProject' | translate }}
    </button>
} @else {
    <button mat-flat-button color="accent" (click)="navigateToProjectConfiguration()">
        {{ 'tool.config.menu.newProject' | translate }}
    </button>
    <button mat-flat-button color="accent" disabled>
        {{ 'tool.config.menu.exampleProjects' | translate }}
    </button>
}

<button mat-flat-button color="accent" (click)="loadNewProject()">
    {{ 'tool.config.menu.loadProject' | translate }}
</button>

@if(isMosaicSet) {
    <button mat-flat-button color="warn" (click)="rejectProject()">
        {{ 'tool.config.menu.rejectProject' | translate }}
    </button>
}