<div class="actions">
    <button mat-flat-button (click)="navigateToMenu()">
        {{ 'common.return' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="getTileSet()">
        {{ 'tool.tiles.random.randomTiles' | translate }}
    </button>
</div>

<form class="form">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="density-3">
        <mat-label>{{ 'tool.tiles.random.seriesName' | translate }}</mat-label>
        <input matInput type="text" [field]="form.name" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            @for (option of seriesNamesSignal(); track option) {
            <mat-option [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>
        <mat-error>{{ getFieldErrorLabel(form.name()) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="density-3">
        <mat-label>{{ 'tool.tiles.random.minRadius' | translate }}</mat-label>
        <input matInput type="number" [field]="form.minRadius">
        <span matTextSuffix>{{ 'common.cm' | translate }}</span>
        <mat-error>{{ getFieldErrorLabel(form.minRadius()) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="density-3">
        <mat-label>{{ 'tool.tiles.random.maxRadius' | translate }}</mat-label>
        <input matInput type="number" [field]="form.maxRadius">
        <span matTextSuffix>{{ 'common.cm' | translate }}</span>
        <mat-error>{{ getFieldErrorLabel(form.maxRadius()) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="density-3">
        <mat-label>{{ 'tool.tiles.random.count' | translate }}</mat-label>
        <input matInput type="number" [field]="form.count">
        <mat-error>{{ getFieldErrorLabel(form.count()) }}</mat-error>
    </mat-form-field>
</form>