@forward './theme/tailwind';
@forward './theme/material-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  overflow-y: scroll;
  background: var(--irr-contrast-light);
  box-shadow: inset 0 0 4px var(--irr-contrast-light);
}

::-webkit-scrollbar-thumb {
  background: var(--irr-contrast-medium);
}