@use '@angular/material' as mat;
@import './../../../../../theme/gray-palette.scss';

:host {
    width: 100%;
    position: relative;
    cursor: pointer;

    .slider {
        display: block;
        width: 100%;
        height: 8px;
        border-radius: 5px;
    }

    .cursor {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid mat.m2-get-color-from-palette($grey-palette, 0);
        box-sizing: border-box;
        top: -5px;
        pointer-events: none;
    }
}