:host {
    width: 100%;
    height: 100%;

    .ribbon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        position: sticky;
        box-shadow: 0px -1px 10px 2px rgb(17 17 17);
        padding: 0 20px;

        &__actions {
            height: 35px;
            margin-left: auto;

            ::ng-deep {
                mat-pseudo-checkbox {
                    display: none !important;
                }
            }
        }

        &__zoom {
            width: 150px;
            text-align: right;
            margin-left: auto;
        }
    }

    .section-tool {
        display: flex;
        flex-direction: row;
        height: calc(100% - 40px);

        &__canvas {
            display: flex;
            width: calc(100% - 100px);
        }

        &__panel {
            width: 100px;
        }
    }
}
