<div class="ribbon">
    <button mat-button i18n (click)="onMeshVisibilityChange()">Ukryj siatkę</button>

    <ng-container *ngIf="{ value: isImageCanvasObjectVisible$ | async } as isImageVisible">
        <button mat-button (click)="onImageVisibilityChange(!isImageVisible.value)">
            <ng-template *ngIf="isImageVisible.value; then hideImage else showImage"></ng-template>
            <ng-template i18n #hideImage>Ukryj obraz</ng-template>
            <ng-template i18n #showImage>Pokaż obraz</ng-template>
        </button>
    </ng-container>
    
    <span class="ribbon__zoom">{{(1 / activeCanvas?.viewport?.zoom) | percent }}</span>
</div>

<app-active-canvas #activeCanvas class="canvas"></app-active-canvas>
<div class="spinner-wrapper" [ngClass]="{'open': isLoading$ | async}">
    <mat-spinner></mat-spinner>
</div>