<mat-card>
    <mat-card-header>
        <mat-card-title i18n>Nowe kierunki</mat-card-title>
        <mat-card-subtitle i18n>Stwórz nowy projekt na podstawie pliku obrazkowego lub wczytaj wcześniej przygotowany projekt z pliku projekt</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="accent" i18n (click)="imageUploader.click()">Wczytaj obraz</button>
        <input hidden type="file" #imageUploader (change)="selectImage($event)" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"/>
        <button mat-button color="accent" i18n (click)="selectProjectFile($event)" disabled>Wczytaj projekt</button>
    </mat-card-actions>
</mat-card>