@use "./../../../../../styles/utils/list-item-box.scss" as *;
@use "./../../../../../styles/utils/mixins.scss" as *;
@use './../../../../../theme/components/button-theme' as *;

:host {
    .parent-elem {
        @include list-item-box();

        .sector-actions {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .visibility-icon {
                font-weight: 300;
                color: var(--irr-contrast-medium);
            }

            .sector-action {
                ::ng-deep {
                    @include icon-button(32px);
                }
    
                margin: -6px;
            }
    
            .toggle-action {
                color: var(--irr-contrast-medium);

                .chevron {
                    transition: all 0.25s ease;
        
                    &--closed {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .panel {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .tile {
            @include list-item-box();

            .label {
                @include text-ellipsis();
                font-size: 12px;
            }
        }

        .empty {
            align-self: center;
            color: var(--irr-contrast-light);
        }
    }

    .panel > *:first-child {
        margin-top: 6px;
    }
}