<div class="parent-elem">
    <span>{{sector().schema.name}}</span>
    <div class="sector-actions">
        <button class="sector-action" mat-icon-button (click)="toggleTilesVisibility()">
            <mat-icon class="visibility-icon material-symbols-outlined">
                {{areTilesVisible() ? 'visibility' : 'visibility_off'}}
            </mat-icon>
        </button>
        <button class="sector-action toggle-action" mat-icon-button (click)="toggleTilesList()">
            <mat-icon class="chevron" [class.chevron--closed]="!isOpen()">
                keyboard_arrow_up
            </mat-icon>
        </button>
    </div>
</div>
<app-expandable-panel class="panel" [isOpen]="isOpen()">
    @let items = items$() | async;
    @if(items.length) {
        <app-scrollable-list [items]="items">
            <ng-template #element let-tile>
                <div class="tile">
                    <span class="label">
                        {{tile.tileTransform.tileId}}
                    </span>
                </div>
            </ng-template>
        </app-scrollable-list>
    } @else {
        <span class="empty">{{ 'tool.generation.sectorList.noTiles' | translate }}</span>
    }
</app-expandable-panel>