@mixin list-item-box() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background: var(--color-contrast-lightest);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

    &.selected {
        background: var(--color-contrast-light);
    }
}