.loading:after {
    content: '';
    animation: dots 2s linear infinite;
}

@keyframes dots {
    0%, 20% {
        content: ".";
    }
    40% {
        content: "..";
    }
    60% {
        content: "...";
    }
    90%, 100% {
        content: "";
    }
}