@use '@angular/material' as mat;
@import './../../../../../theme/gray-palette.scss';

:host {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;

    .panel {
        display: block;
        width: 100%;
    }
    
    .cursor {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid mat.get-color-from-palette($grey-palette, 50);
        box-sizing: border-box;
        pointer-events: none;
    }
}