@use './../../../../../theme/palettes/gray-palette.scss' as *;

:host {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;

    .panel {
        display: block;
        width: 100%;
    }
    
    .cursor {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid #{$gray-0};
        box-sizing: border-box;
        pointer-events: none;
    }
}