.elem-actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 4px;

    .elem-action {
        --irr-icon-button-size: 32px;
        color: var(--color-contrast-medium);
        margin: -6px;
    }
}