@use "./../../../../../styles/utils/list-item-box.scss" as *;
@use "./../../../../../styles/utils/mixins.scss" as *;

:host {
    @include list-item-box();

    .label {
        font-size: 12px;
        @include text-ellipsis();
    }

    .elem-actions {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-left: 4px;

        .elem-action {
            --irr-icon-button-size: 32px;
            color: var(--irr-contrast-medium);
            margin: -6px;
        }
    }
}