<div class="actions">
    <button mat-flat-button (click)="navigateToConfiguration()">
        {{ 'common.return' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="trySave()" [hidden]="isReadOnlyMode()">
        {{ 'common.confirm' | translate }}
    </button>
</div>

<form class="form">
    <input #imageUploader
        hidden type="file"
        (change)="onImageSelected($event)"
        accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"/>

    <button mat-flat-button 
        [color]="form.mosaicImage().valid() ? '' : 'accent'"
        (click)="imageUploader.click()"
        [hidden]="isReadOnlyMode()"
        type="button">
        {{ (form.mosaicImage().valid() ? 'tool.config.project.changeImage': 'tool.config.project.chooseImage') | translate }}
    </button>

    <mat-form-field class="density-3">
        <mat-label>{{ 'tool.config.project.mosaicWidth' | translate }}</mat-label>
        <input matInput type="number" [field]="form.mosaicWidth">
        <span matTextSuffix>{{ 'common.cm' | translate }}</span>
        <mat-error>{{ getFieldErrorLabel(form.mosaicWidth()) }}</mat-error>
    </mat-form-field>
</form>