<div class="actions">
    <button mat-flat-button (click)="navigateToConfiguration()">
        {{ 'common.return' | translate }}
    </button>
    <button mat-flat-button color="accent" (click)="trySave()" [hidden]="isReadOnlyMode()">
        {{ 'common.confirm' | translate }}
    </button>
</div>

<form [formGroup]="projectForm" class="form">
    <input #imageUploader
        hidden type="file"
        (change)="onImageSelected($event)"
        accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"/>

    <button mat-flat-button 
        [color]="projectForm.get('mosaicImage').valid ? '' : 'accent'"
        (click)="imageUploader.click()"
        [hidden]="isReadOnlyMode()">
        {{ (projectForm.get('mosaicImage').valid ? 'tool.config.project.changeImage': 'tool.config.project.chooseImage') | translate }}
    </button>

    <mat-form-field appearance="outline" class="density-3">
        <mat-label>{{ 'tool.config.project.mosaicWidth' | translate }}</mat-label>
        <input matInput type="number" formControlName="mosaicWidth">
        <span matTextSuffix>{{ 'common.cm' | translate }}</span>
        <mat-error>{{ getErrorLabel(projectForm.get('mosaicWidth')) }}</mat-error>
    </mat-form-field>
</form>