<div class="actions">
    <button mat-flat-button (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-flat-button color="accent" (click)="save()">{{ 'common.confirm' | translate }}</button>
</div>

<form [formGroup]="sectorForm" class="info">
    <mat-form-field appearance="outline" class="density-3" subscriptSizing="dynamic">
        <mat-label>{{ 'tool.sectors.sectorContour.sectorName' | translate }}</mat-label>
        <input matInput formControlName="name" >
    </mat-form-field>

    <app-color-picker 
        formControlName="color"
        (ngModelChange)="onColorChanged()"
        [label]="this.translate.instant('tool.sectors.sectorContour.sectorColor')"/>

    @if(sectorForm.get('vertices').value.length) {
        <div cdkDropList class="vertices-list" (cdkDropListDropped)="dropVertexBox($event)">
            @for (vertex of sectorForm.get('vertices').value; track vertex) {
                <div class="vertex-box" [class.selected]="vertex === selectedVertexSignal()" cdkDrag (mousedown)="onBoxSelected(vertex)">
                    {{getVertexLabel(vertex)}}
                    <button mat-icon-button class="vertex-remove" (click)="removeVertex(vertex)" (mousedown)="$event.stopPropagation();">
                        <mat-icon matListIcon>close</mat-icon>
                    </button>
                </div>
            }
        </div>
    } @else { 
        <div class="no-vertices">{{ 'tool.sectors.sectorContour.addSectorVertices' | translate }}</div>
    }
</form>