@use '@angular/material' as mat;
@use './../../../../theme/gray-palette.scss' as palette;
@use "./../../../../styles/utils/list-item-box.scss" as *;

:host {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        button {
            flex: 1 1 0;
        }
    }

    .data {
        margin-top: 20px;

        mat-form-field {
            width: 100%;
        }
    }

    app-color-picker {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .no-vertices {
        display: flex;
        justify-content: center;
        color: mat.m2-get-color-from-palette(palette.$grey-palette, 300);
        height: -webkit-fill-available;
        align-items: center;
    }
}

.vertices-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: auto;
    max-width: 100%;
    height: -webkit-fill-available;

    .vertex-box {
        @include list-item-box();
        cursor: move;

        .vertex-remove {
            margin: -6px;
            width: 32px;
            height: 32px;
            padding: 4px;
            color: mat.m2-get-color-from-palette(palette.$grey-palette, 200);
        }

        &.cdk-drag-placeholder {
            opacity: 0;
        }
    }

    &.cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag-preview {
    @include list-item-box();
    cursor: grab;

    .vertex-remove {
        display: none;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
