@use "./../../../../styles/utils/list-item-box.scss" as *;
@use "./../../../../theme/components/button-theme" as *;

:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        button {
            flex: 1 1 0;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        mat-form-field {
            width: 100%;
        }    
    }

    .no-vertices {
        color: var(--irr-contrast-light);
        margin: auto;
    }
}

.vertices-list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .vertex-box {
        @include list-item-box();
        cursor: move;

        .vertex-remove {
            ::ng-deep {
                @include icon-button(32px);
            }
            margin: -6px;
            color: var(--irr-contrast-medium);
        }

        &.cdk-drag-placeholder {
            opacity: 0;
        }
    }

    &.cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag-preview {
    @include list-item-box();
    cursor: grab;

    .vertex-remove {
        display: none;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
