.toolbar {
    position: fixed;
    height: 55px;
    padding: 0 48px;
    z-index: 2;
    box-shadow: 0 3px 5px -1px #0003,
                0 6px 10px #00000024,
                0 1px 18px #0000001f;

    .toolbar-item {
        &.first {
            span {
                font-size: 18px !important;
            }
        }

        &.active-button {
            background: color-mix(in srgb, var(--irr-primary-color), transparent 90%);
        }
    }

    .mode {
        .mat-icon {
            font-weight: 300;
        }
        
        --irr-icon-button-size: 36px;
        --irr-icon-button-icon-size: 22px;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    .language-label {
        min-width: 20px;
        display: block;
    }
}

.lang-radio-group {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    padding: 0 10px;

    .lang-radio {
        ::ng-deep {
            .mdc-form-field {
                width: 100%;
                
                .mdc-label {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    gap: 16px;
                }
            }
        }
    }
}
