<mat-toolbar class="toolbar" color="primary">
    <a mat-button class="toolbar-item first" routerLink="/tool" routerLinkActive="activebutton">
        <span>Irrtirer</span>
    </a>

    <a class="toolbar-item" mat-button routerLink="/project" routerLinkActive="activebutton">
        <span>About project</span>
    </a>

    <a class="toolbar-item" mat-button routerLink="/author" routerLinkActive="activebutton">
        <span>About me</span>
    </a>

    <span class="example-spacer"></span>

    <a class="toolbar-item" mat-button href="https://www.google.com/" target="_blank">
        <mat-icon>language</mat-icon>
        <span>Pl</span>
    </a>

    <a class="toolbar-item" mat-button href="https://github.com/TukanHan/irrtirer" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
        <span>GitHub</span>
    </a>

</mat-toolbar>