<mat-toolbar class="toolbar" color="primary">
    <a mat-button class="toolbar-item first" routerLink="/tool" routerLinkActive="active-button">
        {{ 'title' | translate }}
    </a>

    <a class="toolbar-item" mat-button routerLink="/project" routerLinkActive="active-button">
        {{ 'aboutProject.header' | translate }}
    </a>

    <a class="toolbar-item" mat-button routerLink="/author" routerLinkActive="active-button">
        {{ 'aboutAuthor.header' | translate }}
    </a>

    <span class="example-spacer"></span>

    <button matIconButton class="toolbar-item mode" (click)="toggleTheme()">
        <mat-icon class="material-symbols-outlined">{{themeMode() === 'dark' ? 'dark_mode' : 'light_mode'}}</mat-icon>
    </button>

    <button mat-button class="toolbar-item" [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
        <span class="language-label">{{selectedLanguage() | titlecase}}</span>
    </button>

    <mat-menu #menu="matMenu">
        <mat-radio-group class="lang-radio-group" (change)="languageChanged($event)" [value]="selectedLanguage()">
            <mat-radio-button value="pl" class="lang-radio">
                {{ 'toolbar.languages.polish' | translate }}
                <mat-icon svgIcon="pl" />
            </mat-radio-button>
            <mat-radio-button value="en" class="lang-radio">
                {{ 'toolbar.languages.english' | translate }}
                <mat-icon svgIcon="gb" />
            </mat-radio-button>
        </mat-radio-group>
    </mat-menu>

    <a class="toolbar-item" mat-button href="https://github.com/TukanHan/irrtirer" target="_blank">
        <mat-icon svgIcon="github" />
        {{'toolbar.github' | translate}}
    </a>
</mat-toolbar>