<mat-toolbar class="toolbar" color="primary">
    <a class="toolbar-item first" mat-button href="https://www.google.com/" target="_blank">
        <span>Irrtirer</span>
    </a>

    <a class="toolbar-item" mat-button href="https://www.google.com/" target="_blank">
        <span>O projekcie</span>
    </a>

    <a class="toolbar-item" mat-button href="https://www.google.com/" target="_blank">
        <span>O mnie</span>
    </a>

    <span class="example-spacer"></span>

    <button class="toolbar-item" mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>

    <a class="toolbar-item" mat-button href="https://www.google.com/" target="_blank">
        <mat-icon>code</mat-icon>
        <span>Język</span>
    </a>

    <a class="toolbar-item" mat-button href="https://www.google.com/" target="_blank">
        <mat-icon>code</mat-icon>
        <span>GitHub</span>
    </a>
    
</mat-toolbar>