<div class="color-label">
    <span class="color-label__header">{{label()}}</span>
    <span class="color-label__code">{{hexColorSignal()}}</span>
</div>

<div role="presentation" 
    class="color-preview"
    [class.disabled]="isDisabledSignal()"
    [ngStyle]="{'background-color': (hexColorSignal())}" 
    (click)="toggleColorPanel()"
    cdkOverlayOrigin 
    #trigger="cdkOverlayOrigin">
</div>

<ng-template cdkConnectedOverlay 
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpenSignal()" 
    [cdkConnectedOverlayHasBackdrop]="isOpenSignal()"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop-cs'"
    (backdropClick)="toggleColorPanel()">
    <app-color-selection-panel [color]="hexColorSignal()" (colorChange)="onColorChanged($event)"/>
</ng-template>