<div class="color-label">
    <span class="color-label__header">{{ label() }}</span>
    <span class="color-label__code">{{ value() }}</span>
</div>

<div role="presentation" 
    class="color-preview"
    [class.disabled]="disabled()"
    [style.background-color]="value()"
    (click)="toggleColorPanel()"
    cdkOverlayOrigin 
    #trigger="cdkOverlayOrigin">
</div>

<ng-template cdkConnectedOverlay 
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen()" 
    [cdkConnectedOverlayHasBackdrop]="isOpen()"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop-cs'"
    (backdropClick)="toggleColorPanel()">
    <app-color-selection-panel [color]="value()" (colorChange)="onColorChanged($event)"/>
</ng-template>