:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: var(--irr-contrast-lightest);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

    .color-preview {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);

        &:not(.disabled) {
            cursor: pointer;
        }
    }

    .color-label {
        display: flex;
        flex-direction: column;

        &__header {
            color: var(--irr-contrast-highest);
        }

        &__code {
            color: var(--irr-contrast-medium);
            font-size: 15px;
        }
    }
}